<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.caucaragp.worldskills.colorapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/iconoapp"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconoapp"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".controllers.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controllers.Menu" />
        <activity android:name=".controllers.Juego" />
        <activity android:name=".controllers.Configuracion" />
        <activity android:name=".controllers.Puntuacion" />
        <activity android:name=".controllers.Resumen"></activity>
    </application>

</manifest>